@media screen and (max-width: 767px) {
  header ul.menu {
    display: none;
  }
  header #menuButton {
    display: block;
    width: 3rem;
    height: 4rem;
    position: relative;
    z-index: 999;
  }
  header #menuButton span {
    display: block;
    height: 2px;
    width: 100%;
    background: gray;
    position: absolute;
    transition: all 300ms linear;
  }
  header #menuButton span:nth-child(1) {
    top: 25%;
  }
  header #menuButton span:nth-child(2) {
    top: 50%;
  }
  header #menuButton span:nth-child(3) {
    top: 75%;
  }
  header #menuButton.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  header #menuButton.open span:nth-child(2) {
    width: 0;
    right: 0%;
    transform: translateX(-100%);
  }
  header #menuButton.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  header #panelMenu {
    display: block;
    height: calc(100vh);
    width: 20rem;
    background: rgba(6, 0, 128, 0.2);
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 99;
    padding-top: 5rem;
    padding-bottom: var(--footer-height-mobile);
    box-shadow: -2px 2px 1.5rem rgba(0, 0, 0, 0.3);
    transition: all 500ms linear;
  }
  header #panelMenu.open {
    right: 0;
  }
  header #panelMenu>div {
    height: 100%;
  }
  header #main-top-mobile {
    list-style: none;
    display: block;
    padding: 0.2rem;
  }
  header #main-top-mobile li {
    border-left: 2px solid rgba(6, 0, 128, 0.5);
    padding: 0.5rem 1rem;
    margin: 0.8rem auto;
    background: linear-gradient(to right, rgba(6, 0, 128, 0.2), transparent);
  }
  header #main-top-mobile li:hover {
    background: rgba(6, 0, 128, 0.5);
  }
  header #main-top-mobile li:hover a {
    color: white;
    font-weight: bold;
  }
  /* footer */
  footer {
    flex-direction: column;
    height: var(--footer-height-mobile);
  }
}
